<div class="description-container">
  <h2>{{ 'CREATE_RECIPE.RECIPE_IMAGE' | translate }}</h2>
  <div>
    <img *ngIf="imageUrl" [src]="imageUrl" alt="Uploaded Image" class="uploaded-image" />


    <!-- Button to trigger file input -->
    <button class="upload-btn" (click)="triggerFileInput()">
      {{ 'CREATE_RECIPE.ADD_RECIPE_IMAGE' | translate }}
    </button>

    <!-- File input with #fileInput reference -->
    <input #fileInput type="file" accept="image/*" style="display: none" (change)="uploadImage($event)" />
  </div>
</div>