<div class="settings-container">
  <div class="left-panel">
    <div class="profile">
      <img class="profile-img" src="assets/RecipeImg/Pan-Seared-Tuna.jpg" alt="Profile Picture" />
      <h3>General Winter</h3>
      <p>Russia</p>
      <div class="social-icons">
        <i class="fab fa-facebook"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-instagram"></i>
      </div>
      <p class="quote">
        I am the general winter. I come back every year. Because I am a part of nature. Without me, nature will die. The
        human will die.
      </p>
    </div>
    <div class="settings">
      <h4>SETTINGS</h4>
      <div class="setting-item">
        <span>{{ 'DARK_MODE' | translate }}</span>
        <label class="switch">
          <input type="checkbox" id="dark-mode" (change)="toggleDarkMode($event)" />
          <span class="slider round"></span>
        </label>
      </div>
      <div class="setting-item">
        <span>{{ 'LANGUAGE' | translate }}</span>
        <select (change)="changeLanguage($event)" [value]="translate.currentLang">
          <option value="en">English</option>
          <option value="vi">Tiếng Việt</option>
        </select>

      </div>
      <div class="setting-item">
        <span>{{ 'CHANGE_PASSWORD' | translate }}</span>
        <input type="password" placeholder="{{ 'OLD_PASSWORD' | translate }}" />
        <input type="password" placeholder="{{ 'NEW_PASSWORD' | translate }}" />
        <button class="save-btn">{{ 'SAVE' | translate }}</button>
      </div>
    </div>
    <button class="logout-btn" (click)="logout()">{{ 'LOGOUT' | translate }}</button>
  </div>
  <div class="right-panel">
    <h1>{{ 'TITLE' | translate }}</h1>
    <p>{{ 'SUBTITLE' | translate }}</p>
  </div>
</div>