<div class="settings-container">
  <div class="left-panel">
    <div class="profile">
      <img class="profile-img" src="assets/RecipeImg/Pan-Seared-Tuna.jpg" alt="Profile Picture">
      <h3>General Winter</h3>
      <p>Russia</p>
      <div class="social-icons">
        <i class="fab fa-facebook"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-instagram"></i>
      </div>
      <p class="quote">
        I am the general winter. I come back every year. Because I am a part of nature. Without me, nature will die. The
        human will die.
      </p>
    </div>
    <div class="settings">
      <h4>SETTINGS</h4>
      <div class="setting-item">
        <span>Dark Mode</span>
        <input type="checkbox" id="dark-mode">
      </div>
      <div class="setting-item">
        <span>Language</span>
        <select>
          <option>ENG</option>
          <option>RUS</option>
        </select>
      </div>
      <div class="setting-item">
        <span>Change Password</span>
        <input type="password" placeholder="Old Password">
        <input type="password" placeholder="New Password">
        <button class="save-btn">Save</button>
      </div>
    </div>
    <button class="logout-btn">Log Out</button>
  </div>
  <div class="right-panel">
    <h1>WINTER IS COMING</h1>
    <p>GET READY</p>
  </div>
</div>