<nav class="menu">
  <div class="logo">
    <!-- <img src="Assets/Logo.png" alt="Cooks Delight Logo" /> -->
    <img src="assets/images/Logo.png">
    <span>Cooking Recipes</span>
  </div>
  <ul>
    <li><a routerLink="/home" routerLinkActive="active">HOME</a></li>
    <li><a routerLink="/recipe" routerLinkActive="active">RECIPES</a></li>
    <li><a routerLink="/cooking-tips" routerLinkActive="active">N/A</a></li>
    <li><a routerLink="/about-us" routerLinkActive="active">N/A</a></li>
  </ul>
  <div class="actions">
    <button class="search-button">🔍</button>
    <button class="subscribe-button">Subscribe</button>
  </div>
</nav>
