<ng-container *ngIf="!notFound; else notFoundTemplate">
  <div class="Recipe">
    <div class="Recipe-info" *ngIf="RecipesById">
      <div #recipeContent>
        <!-- HTML: Hiển thị số sao dựa trên averageRating -->
        <div class="star-rating">
          <!-- Sao đầy -->
          <ng-container *ngFor="let star of fullStars">
            <i class="fas fa-star" style="color: #EE6352;"></i>
          </ng-container>

          <!-- Nửa sao -->
          <i *ngIf="hasHalfStar" class="fas fa-star-half-alt" style="color: #EE6352;"></i>

          <!-- Sao rỗng -->
          <ng-container *ngFor="let star of emptyStars">
            <i class="far fa-star" style="color: #EE6352;"></i>
          </ng-container>

        </div>



        <app-recipe-main *ngIf="'RECIPE_DETAILS.RECIPE_DETAILS_DESCRIPTION' | translate as additionalText"
          [title]="currentLang === 'vi' ? RecipesById.titleVI || RecipesById.title : RecipesById.title"
          [additionalText]="additionalText"
          [description]="currentLang === 'vi' ? RecipesById.descriptionVI || RecipesById.description : RecipesById.description"
          [cookTime]="RecipesById.cookTime" [prepTime]="getTranslatedPrepTime(RecipesById.prepTime) | translate"
          [serves]="RecipesById.servings" [imageUrl]="RecipesById.imagePath">
        </app-recipe-main>

        <div class="Recipe-detail">
          <div class="note">
            <p>
              {{'RECIPE_DETAILS.DESCRIPTION'| translate}}
            </p>
            <ng-container *ngIf="'RECIPE_DETAILS.TIPS_DO' | translate as doText">
              <ng-container *ngIf="'RECIPE_DETAILS.TIPS_DONOT' | translate as dontText">
                <app-recipe-tip [actionType]="doText" [actionType1]="dontText" [description]="doTips"
                  [description1]="dontTips" [title]="titleTipDo" [title1]="titleTipDont">
                </app-recipe-tip>
              </ng-container>
            </ng-container>

            <ng-container *ngIf="'RECIPE_DETAILS.INSTRUCTION_TITLE' | translate as instructions">
              <app-recipe-instruction [title]="instructions" [steps]="steps" [stepTitle]="stepTitle">
              </app-recipe-instruction>
            </ng-container>
          </div>

          <div class="ingredients">
            <ng-container *ngIf="'RECIPE_DETAILS.INGREDIENT_TITLE' | translate as ingredients">
              <app-recipe-ingredient [title]="ingredients"
                [ingredientName]="getIngredientDetails(RecipesById.recipeIngredients)">
              </app-recipe-ingredient>
            </ng-container>
            <ng-container *ngIf="'RECIPE_DETAILS.COOKING_TOOL_TITLE' | translate as cookingtool">
              <app-recipe-ingredient [title]="cookingtool"
                [ingredientName]="getCookingToolDetails(RecipesById.recipeTools)">
              </app-recipe-ingredient>
            </ng-container>
            <ng-container *ngIf="'RECIPE_DETAILS.NUTRIENT_TITLE' | translate as nutrients">
              <app-recipe-ingredient [title]="nutrients"
                [ingredientName]="getNutrientDetails(RecipesById.recipeNutrient)">
              </app-recipe-ingredient>
            </ng-container>
            <p> {{'RECIPE_DETAILS.NOTE'| translate}}
            </p>
            <button (click)="goBack()">{{'RECIPE_DETAILS.BACK'| translate}}</button>
            <button (click)="capture()">Chụp recipe thành ảnh</button>
            <div class="favorite-button" *ngIf="this.roleGuest !== 'guest'">
              <button (click)="toggleFavorite(RecipesById.recipeId, userId)" [class.favorited]="isFavorite"
                class="heart-button">
                ❤
              </button>
            </div>
            <ng-container *ngIf="(RecipesById.status === 'Pending' || RecipesById.status === 'Rejected') && isAdmin">

              <button (click)="checkRecipe(RecipesById.recipeId,RecipesById,true)" class="btn btn-success">
                {{'RECIPE_DETAILS.APPROVE'|translate}}
              </button>
              <button (click)="checkRecipe(RecipesById.recipeId,RecipesById,false)" class="btn btn-danger">
                {{'RECIPE_DETAILS.REJECT'|translate}}
              </button>
              <button (click)="removeRecipe(RecipesById.recipeId)" class="btn btn-danger">
                {{'RECIPE_DETAILS.REMOVE'|translate}}
              </button>

            </ng-container>
          </div>

        </div>
      </div>
    </div>
    <div class="carousel">
      <h2>{{'RECIPE_DETAILS.SIMILAR_RECIPE'|translate}}</h2>

      <div class="recipe-cards" *ngIf="SimilarRecipes.length > 0">
        <app-recipe-card *ngFor="let recipe of SimilarRecipes" [imageUrl]="recipe.recipeDetails.imagePath"
          [description]="currentLang === 'vi' ? recipe.recipeDetails.titleVI || recipe.recipeDetails.title : recipe.recipeDetails.title"
          [prepTime]="recipe.recipeDetails.prepTime" [cookTime]="recipe.recipeDetails.cookTime"
          [serves]="recipe.recipeDetails.servings"
          [title]="currentLang === 'vi' ? recipe.recipeDetails.titleVI || recipe.recipeDetails.title : recipe.recipeDetails.title"
          [isVegan]="recipe.isVegan" [recipeId]="recipe.recipeDetails.recipeId" [unit1]="'MIN'" [unit2]="'SERVES'"
          [averageRating]="recipe.recipeDetails.averageRating"
          (recipeSelected)="onRecipeSelected(recipe.recipeDetails.recipeId)"></app-recipe-card>

      </div>
    </div>
    <!-- Comment Section -->
    <div class="comment-section-wrapper" *ngIf="Comment.length > 0">
      <h2 class="comment-title">{{'RECIPE_DETAILS.COMMENT'|translate}}</h2>
      <div class="comment-section">
        <div class="comment-list">
          <app-comment *ngFor="let comment of Comment" [email]="comment.user.email" [commentText]="comment.commentText"
            [rating]="comment.rating" [datePosted]="comment.datePosted" [avatarUrl]="comment.user.avatar">
          </app-comment>
        </div>
      </div>
    </div>
    <!-- New comment input -->
    <div class="comment-form" *ngIf="this.roleGuest !== 'guest'">
      <h3 class="comment-form-title">{{'RECIPE_DETAILS.LEAVE_A_COMMENT'|translate}}</h3>

      <!-- Textarea for comment -->
      <div class="form-group">
        <label for="commentText">{{'RECIPE_DETAILS.YOUR_COMMENT'|translate}}</label>
        <textarea id="commentText" [(ngModel)]="newCommentText"
          placeholder="{{'CREATE_RECIPE.LEAVE_A_COMMENT' | translate }}" rows="4"></textarea>
      </div>

      <!-- Star Rating -->
      <div class="form-group star-rating">
        <label>{{'RECIPE_DETAILS.YOUR_RATING'|translate}}</label>
        <div class="stars">
          <span *ngFor="let star of stars; let i = index" class="star" (mouseenter)="hoverRating = i + 1"
            (mouseleave)="hoverRating = 0" (click)="setRating(i + 1)" [class.filled]="(hoverRating || rating) > i">
            ★
          </span>
        </div>
      </div>

      <!-- Submit Button -->
      <div class="form-group">
        <button class="submit-comment-btn" [disabled]="!newCommentText || rating === 0"
          (click)="submitComment(userId, recipeIds)">
          {{'RECIPE_DETAILS.SUBMIT_COMMENT'|translate}}
        </button>

      </div>
    </div>




  </div>

</ng-container>

<ng-template #notFoundTemplate>
  <app-not-found-page></app-not-found-page>
</ng-template>