<ng-container *ngIf="!notFound; else notFoundTemplate">
  <div class="Recipe">
    <div class="Recipe-info" *ngIf="RecipesById">
      <app-recipe-main [title]="RecipesById.title"
        [additionalText]="'Welcome to Cooks Delight, where culinary dreams come alive! \nToday, we embark on a journey of flavors with a dish that promises \n to elevate your dining experience – our Recipes:\n'"
        [description]="RecipesById.description" [cookTime]="RecipesById.cookTime" [prepTime]="RecipesById.prepTime"
        [serves]="RecipesById.servings" [imageUrl]="RecipesById.imagePath">
      </app-recipe-main>

      <div class="Recipe-detail">
        <div class="note">
          <p>
            Picture succulent chicken infused with the bright notes of lemon and the <br>aromatic richness of garlic.
            It's a symphony of flavors that will have your taste<br> buds dancing. Join us as we delve into the art of
            roasting
            and uncover the <br>secrets behind creating a masterpiece that's not just a meal but a celebration<br> of
            culinary
            craftsmanship.<br> <br>
            As you preheat your oven, envision the kitchen filling with the tantalizing <br>aroma of herbs and citrus,
            setting the stage for a delightful meal that<br> transcends the ordinary. The anticipation builds as the
            chicken
            roasts to<br> golden perfection, promising a dining experience that marries simplicity with
            <br>sophistication. Whether
            you're a seasoned chef or a kitchen novice, this recipe<br> invites you to become a culinary artist,
            creating
            a
            masterpiece that will leave a<br> lasting impression on your guests and loved ones.
          </p>

          <app-recipe-tip [actionType]="'DO\'S:'" [actionType1]="'DON\'TS:'" [description]="doTips"
            [description1]="dontTips" [title]="titleTipDo" [title1]="titleTipDont">
          </app-recipe-tip>

          <app-recipe-instruction [title]="'INSTRUCTION'" [steps]="steps" [stepTitle]="stepTitle">
          </app-recipe-instruction>
        </div>

        <div class="ingredients">
          <app-recipe-ingredient [title]="'INGREDIENT'"
            [ingredientName]="getIngredientDetails(RecipesById.recipeIngredients)">
          </app-recipe-ingredient>

          <app-recipe-ingredient [title]="'EQUIPMENT NEEDED FOR \n PREPARATION'"
            [ingredientName]="getCookingToolDetails(RecipesById.recipeTools)">
          </app-recipe-ingredient>

          <app-recipe-ingredient [title]="'NUTRIENT TYPES'"
            [ingredientName]="getNutrientDetails(RecipesById.recipeNutrient)">
          </app-recipe-ingredient>

          <p>Note: Nutritional values are approximate and may vary based on <br> specific ingredients and portion sizes.
          </p>
          <button (click)="goBack()">Back</button>
          <div class="favorite-button">
            <button (click)="toggleFavorite(RecipesById.recipeId, userId)" [class.favorited]="isFavorite"
              class="heart-button">
              ❤
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="carousel">
      <h2>SIMILAR RECIPES</h2>

      <div class="recipe-cards" *ngIf="SimilarRecipes.length > 0">
        <app-recipe-card *ngFor="let recipe of SimilarRecipes" [imageUrl]="recipe.recipeDetails.imagePath"
          [description]="recipe.recipeDetails.description" [prepTime]="recipe.recipeDetails.prepTime"
          [cookTime]="recipe.recipeDetails.cookTime" [serves]="recipe.recipeDetails.servings"
          [title]="recipe.recipeDetails.title" [isVegan]="recipe.isVegan" [recipeId]="recipe.recipeDetails.recipeId"
          [unit1]="'MIN'" [unit2]="'SERVES'"
          (recipeSelected)="onRecipeSelected(recipe.recipeDetails.recipeId)"></app-recipe-card>

      </div>
    </div>
    <!-- Comment Section -->
    <div class="comment-section-wrapper" *ngIf="Comment.length > 0">
      <h2 class="comment-title">COMMENT</h2>
      <div class="comment-section">
        <div class="comment-list">
          <app-comment *ngFor="let comment of Comment" [email]="comment.user.email" [commentText]="comment.commentText"
            [rating]="comment.rating" [datePosted]="comment.datePosted" [avatarUrl]="comment.user.avatar">
          </app-comment>
        </div>
      </div>
    </div>
    <!-- New comment input -->
    <div class="comment-form">
      <h3 class="comment-form-title">Leave a Comment</h3>

      <!-- Textarea for comment -->
      <div class="form-group">
        <label for="commentText">Your Comment:</label>
        <textarea id="commentText" [(ngModel)]="newCommentText" placeholder="Write your comment..." rows="4"></textarea>
      </div>

      <!-- Star Rating -->
      <div class="form-group star-rating">
        <label>Your Rating:</label>
        <div class="stars">
          <span *ngFor="let star of stars; let i = index" class="star" (mouseenter)="hoverRating = i + 1"
            (mouseleave)="hoverRating = 0" (click)="setRating(i + 1)" [class.filled]="(hoverRating || rating) > i">
            ★
          </span>
        </div>
      </div>

      <!-- Submit Button -->
      <div class="form-group">
        <button class="submit-comment-btn" (click)="submitComment(userId,recipeIds)">Submit Comment</button>
      </div>
    </div>




  </div>
</ng-container>

<ng-template #notFoundTemplate>
  <app-not-found-page></app-not-found-page>
</ng-template>