<div class="login-container">
  <div class="login-left">
    <div class="overlay">
      <div class="content">
        <h2>COOKING RECIPES</h2>
        <p>{{'AUTH.LOGIN.LOGIN_TITLE'| translate}}</p>
      </div>
    </div>
    <img src="assets/images/BackgroundLogin.png" alt="Recipe Image">
  </div>

  <div class="login-right">
    <div class="header">
      <h1>{{'AUTH.LOGIN.TITLE_NAME_1'| translate}} <span class="highlight">{{'AUTH.LOGIN.TITLE_NAME_2'|
          translate}}</span></h1>
      <h4>{{'AUTH.LOGIN.WELCOME_1'| translate}} <span class="highlight"> {{'AUTH.LOGIN.WELCOME_2'| translate}}</span>
      </h4>
      <div class="button-container">
        <button class="button"
          [ngClass]="{ 'active-login': activeButton === 'login', 'inactive-login': activeButton !== 'login' }"
          (click)="toggleActive('login')">
          {{'AUTH.LOGIN.LOGIN_BUTTON'| translate}}
        </button>
        <button class="button"
          [ngClass]="{ 'active-register': activeButton === 'register', 'inactive-register': activeButton !== 'register' }"
          (click)="toggleActive('register')">
          {{'AUTH.LOGIN.REGISTER_BUTTON'| translate}}
        </button>
      </div>

      <p>
        {{'AUTH.LOGIN.DESCRIPTION_1'| translate}} <span class="highlight">{{'AUTH.LOGIN.DESCRIPTION_2'|
          translate}}</span>
        {{'AUTH.LOGIN.DESCRIPTION_3'| translate}}
      </p>
    </div>

    <form (ngSubmit)="onLogin()" #loginForm="ngForm">
      <div class="form-group">
        <label for="username">{{'AUTH.LOGIN.USER_NAME'| translate}}</label>
        <input type="text" id="username" name="username" placeholder="{{'AUTH.LOGIN.ENTER_USER_NAME'|translate}}"
          [(ngModel)]="username" required />
      </div>

      <div class="form-group">
        <label for="password">{{'AUTH.LOGIN.PASSWORD'| translate}}</label>
        <input type="password" id="password" name="password" placeholder="{{'AUTH.LOGIN.ENTER_PASSWORD'|translate}}"
          [(ngModel)]="password" required />
      </div>

      <div class="options">
        <label><input type="checkbox" (change)="onCheckboxChange($event)" />{{'AUTH.LOGIN.REMEMBER'| translate}}</label>
        <a (click)="openForgotPasswordModal()">{{'AUTH.LOGIN.FORGOT'| translate}}</a>
      </div>

      <button class="login-btn" type="submit" [disabled]="!loginForm.valid">{{'AUTH.LOGIN.LOGIN_BUTTON'|
        translate}}</button>


    </form>
    <form (ngSubmit)="onGuestLogin()" #loginForm="ngForm">
      <!-- Nút hiện form Guest -->
      <button class="guest-login-btn" type="button" (click)="showGuestForm = true" *ngIf="!showGuestForm">
        {{ 'GUEST' | translate }}
      </button>

      <!-- Form nhập tên và captcha -->
      <div *ngIf="showGuestForm" class="guest-form">
        <input type="text" [(ngModel)]="guestName" name="guestName" placeholder="{{ 'ENTER_NAME' | translate }}"
          class="form-control" required />

        <!-- reCAPTCHA -->
        <re-captcha (resolved)="onCaptchaResolved($event)"
          siteKey="6LfXi0krAAAAABY4u3m85YC1twtuegxMQRI7MKua"></re-captcha>

        <div *ngIf="errorMessage" class="text-danger mt-2">
          {{ errorMessage }}
        </div>

        <button class="login-btn" type="submit"
          [disabled]="!guestCaptchaToken || !guestName || guestName.trim() === ''">
          {{ 'GUEST_LOGIN' | translate }}
        </button>

      </div>
    </form>



    <!-- Forgot Password Modal -->
    <div class="modal" *ngIf="showForgotPasswordModal">
      <div class="modal-content">
        <h3 *ngIf="step === 1">{{'AUTH.EMAIL_OTP'|translate}}</h3>
        <input *ngIf="step === 1" [(ngModel)]="emailForOtp" placeholder="Email" />
        <button *ngIf="step === 1" (click)="sendOtp()">{{'AUTH.SEND_OTP'|translate}}</button>
        <div *ngIf="emailError">{{ emailError }}</div>

        <h3 *ngIf="step === 2">{{'AUTH.OTP_EMAIL'|translate}}</h3>
        <input *ngIf="step === 2" [(ngModel)]="otpCode" placeholder="OTP" />
        <button *ngIf="step === 2" (click)="verifyOtp()">{{'AUTH.VERIFY_OTP'|translate}}</button>
        <div *ngIf="otpError">{{ otpError }}</div>

        <h3 *ngIf="step === 3">{{'AUTH.NEW_PASSWORD'|translate}}</h3>
        <input *ngIf="step === 3" [(ngModel)]="newPassword" type="password"
          placeholder="{{'AUTH.LOGIN.ENTER_NEW_PASSWORD'|translate}}" />
        <button *ngIf="step === 3" (click)="resetPassword()">{{'AUTH.RESET_PASSWORD'|translate}}</button>
        <div *ngIf="resetError">{{ resetError }}</div>

        <p *ngIf="message">{{ message }}</p>
        <button (click)="showForgotPasswordModal = false">{{'AUTH.CLOSE'|translate}}</button>
      </div>
    </div>

  </div>
</div>