<div class="HomePage">


  <!-- Hero Section -->
  <div class="HomePageMain">
    <div class="image-container">
      <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@800&display=swap" rel="stylesheet">
      <img src="assets/images/HeroSection.png" alt="Background Image" />
      <h1>{{'HOMEPAGE.HOMEPAGE_HEADER_1' | translate}}<br> {{'HOMEPAGE.HOMEPAGE_HEADER_2' | translate}}</h1>
      <p>{{'HOMEPAGE.DESCRIPTION_1' | translate}}<br> {{'HOMEPAGE.DESCRIPTION_2' | translate}} <br>
        {{'HOMEPAGE.DESCRIPTION_3' | translate}}</p>
      <button class="overlay-button">{{'HOMEPAGE.HEADER_BUTTON' | translate}}</button>
    </div>
  </div>

  <!-- Explore Section -->
  <div class="View">
    <div class="see-more">
      <h4>{{'HOMEPAGE.VIEW_HEADER' | translate}}</h4>
      <h1>{{'HOMEPAGE.HEADER_TITLE_1' | translate}} <br> {{'HOMEPAGE.HEADER_TITLE_2' | translate}}</h1>
      <p>{{'HOMEPAGE.VIEW_DESCRIPTION' | translate}}</p>
      <button class="seemore-button">{{'HOMEPAGE.SEE_VIEW' | translate}}</button>
    </div>
    <div class="select">
      <ng-container *ngIf="'FAVORITE.BREAKFAST' | translate as breakfast">
        <app-select-options [imageUrl]="'assets/images/breakfasticon.png'"
          [description]="breakfast"></app-select-options>
      </ng-container>

      <ng-container *ngIf="'FAVORITE.LUNCH' | translate as lunch">
        <app-select-options [imageUrl]="'assets/images/lunchicon.png'" [description]="lunch"></app-select-options>
      </ng-container>

      <ng-container *ngIf="'FAVORITE.DINNER' | translate as dinner">
        <app-select-options [imageUrl]="'assets/images/dinnericon.png'" [description]="dinner"></app-select-options>
      </ng-container>

      <ng-container *ngIf="'FAVORITE.DESSERT' | translate as dessert">
        <app-select-options [imageUrl]="'assets/images/desserticon.png'" [description]="dessert"></app-select-options>
      </ng-container>

      <ng-container *ngIf="'FAVORITE.QUICK_BITE' | translate as quickBite">
        <app-select-options [imageUrl]="'assets/images/quickbiteicon.png'"
          [description]="quickBite"></app-select-options>
      </ng-container>
    </div>

  </div>

  <!-- Recipe Carousel -->
  <div class="carousel">
    <h2>{{'HOMEPAGE.FEATURED_RECIPES'| translate}}</h2>
    <div class="recipe-cards" *ngIf="RecipesTopView.length > 0">
      <app-recipe-card *ngFor="let recipe of RecipesTopView" [imageUrl]="recipe.imagePath"
        [title]="currentLang === 'vi' ? recipe.titleVI || recipe.title : recipe.title"
        [description]="currentLang === 'vi' ? recipe.descriptionVI || recipe.description : recipe.description"
        [prepTime]="recipe.prepTime" [cookTime]="recipe.cookTime" [isVegan]="recipe.vegan" [serves]="recipe.servings"
        [totalView]="recipe.totalView" [unit1]="'MIN'" [unit2]="'SERVES'" [recipeId]="recipe.recipeId"
        [averageRating]="recipe.averageRating" (recipeSelected)="onRecipeSelected($event)">
      </app-recipe-card>

    </div>
  </div>

  <!-- Recipe Categories -->
  <div class="select-food">
    <div class="content">
      <h4>{{'HOMEPAGE.SELECT_TITLE' | translate}}</h4>
      <h2>{{'HOMEPAGE.SELECT_HEADER_1' | translate}} <br />{{'HOMEPAGE.SELECT_HEADER_2' | translate}}</h2>
      <p>{{'HOMEPAGE.SELECT_DESCRIPTION_1' | translate}} <br />{{'HOMEPAGE.SELECT_DESCRIPTION_2' | translate}}</p>
    </div>
    <div class="menu">
      <ul>
        <li><a (click)="selectedMenu = 'ALL'" [class.active]="selectedMenu === 'ALL'">{{'FAVORITE.ALL'| translate}}</a>
        </li>
        <li><a (click)="selectedMenu = 'Vegan'" [class.active]="selectedMenu === 'Vegan'">{{'FAVORITE.VEGAN'|
            translate}}</a></li>
        <li><a (click)="selectedMenu = 'Breakfast'"
            [class.active]="selectedMenu === 'Breakfast'">{{'FAVORITE.BREAKFAST'| translate}}</a></li>
        <li><a (click)="selectedMenu = 'Lunch'" [class.active]="selectedMenu === 'Lunch'">{{'FAVORITE.LUNCH'|
            translate}}</a></li>
        <li><a (click)="selectedMenu = 'Dinner'" [class.active]="selectedMenu === 'Dinner'">{{'FAVORITE.DINNER'|
            translate}}</a></li>
        <li><a (click)="selectedMenu = 'Dessert'" [class.active]="selectedMenu === 'Dessert'">{{'FAVORITE.DESSERT'|
            translate}}</a></li>
        <li><a (click)="selectedMenu = 'QuickBite'"
            [class.active]="selectedMenu === 'QuickBite'">{{'FAVORITE.QUICK_BITE'| translate}}</a></li>
      </ul>
    </div>

    <!-- Recipe Grid -->
    <div class="grid-content" *ngIf="Recipe?.length">
      <div *ngFor="let item of filteredRecipes()">
        <app-recipe-card [imageUrl]="item.imagePath"
          [title]="currentLang === 'vi' ? item.titleVI || item.title : item.title"
          [description]="currentLang === 'vi' ? item.descriptionVI || item.description : item.description"
          [cookTime]="item.cookTime" [prepTime]="item.prepTime" [serves]="item.servings" [isVegan]="item.vegan"
          [unit1]="'MIN'" [unit2]="'SERVES'" [recipeId]="item.recipeId" (recipeSelected)="onRecipeSelected($event)"
          [averageRating]="item.averageRating">
        </app-recipe-card>
      </div>
    </div>
  </div>
</div>