<div class="HomePage">
  <div class="HomePageMain">
    <div class="image-container">
      <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@800&display=swap" rel="stylesheet">
      <img src="assets/images/HeroSection.png" alt="Background Image" />
      <h1>UNLEASH CULINARY <br> EXCELLENCE</h1>
      <p>Explore a world of flavors, discover <br> handcrafted recipes, and let the aroma of <br> our passion for
        cooking fill your kitchen</p>
      <button class="overlay-button">EXPLORE RECIPES</button>
    </div>
  </div>
  <div class="View">
    <div class="see-more">
      <h4>EXPLORE</h4>
      <h1>OUR DIVERSE <br> PALETTE</h1>
      <p>If you are a breakfast enthusiast, a connoisseur of savory delights, or on the lookout for irresistible
        desserts, our curated selection has something to satisfy every palate.</p>
      <button class="seemore-button">SEE MORE</button>
    </div>
    <div class="select">
      <app-select-options [imageUrl]="'assets/images/breakfasticon.png'"
        [description]="'BREAKFAST'"></app-select-options>
      <app-select-options [imageUrl]="'assets/images/lunchicon.png'" [description]="'LUNCH'"></app-select-options>
      <app-select-options [imageUrl]="'assets/images/dinnericon.png'" [description]="'DINNER'"></app-select-options>
      <app-select-options [imageUrl]="'assets/images/desserticon.png'" [description]="'DESSERT'"></app-select-options>
      <app-select-options [imageUrl]="'assets/images/quickbiteicon.png'"
        [description]="'QUICK BITE!'"></app-select-options>
    </div>
  </div>
  <div class="carousel">
    <h2>FEATURED RECIPES</h2>
    <div class="recipe-cards">
      <app-recipe-card [imageUrl]="'assets/images/demoRecipe.png'" [title]="'Decadent Chocolate Mousse'"
        [description]="'Dive into the velvety indulgence of our Decadent Chocolate Mousse. A dessert that transcends sweetness!'"
        [prepTime]="'30 MIN'" [level]="'Easy prep'" [serves]="'4 SERVES'"></app-recipe-card>

      <app-recipe-card [imageUrl]="'assets/images/demoRecipe.png'" [title]="'Decadent Chocolate Mousse'"
        [description]="'Dive into the velvety indulgence of our Decadent Chocolate Mousse. A dessert that transcends sweetness!'"
        [prepTime]="'30 MIN'" [level]="'Easy prep'" [serves]="'4 SERVES'">
      </app-recipe-card>


    </div>
  </div>

  <div class="select-food">
    <div class="content">
      <h4>RECIPES</h4>
      <h2>EMBARK ON A <br>JOURNEY</h2>
      <p>With our diverse collection of recipes we have something to <br> satisfy every palate.</p>
    </div>
    <div class="menu">
      <ul>
        <li><a (click)="selectedMenu = 'ALL'" [class.active]="selectedMenu === 'ALL'">ALL</a></li>
        <li><a (click)="selectedMenu = 'VEGAN'" [class.active]="selectedMenu === 'VEGAN'">VEGAN</a></li>
        <li><a (click)="selectedMenu = 'BREAKFAST'" [class.active]="selectedMenu === 'BREAKFAST'">BREAKFAST</a></li>
        <li><a (click)="selectedMenu = 'LUNCH'" [class.active]="selectedMenu === 'LUNCH'">LUNCH</a></li>
        <li><a (click)="selectedMenu = 'DINNER'" [class.active]="selectedMenu === 'DINNER'">DINNER</a></li>
        <li><a (click)="selectedMenu = 'DESSERT'" [class.active]="selectedMenu === 'DESSERT'">DESSERT</a></li>
        <li><a (click)="selectedMenu = 'QUICK BITE'" [class.active]="selectedMenu === 'QUICK BITE'">QUICK BITE!</a></li>
      </ul>
    </div>
    <div class="grid-content" *ngIf="selectedMenu === 'ALL'">
      <app-recipe-card [imageUrl]="'assets/images/demoRecipe.png'" [title]="'Savory Herb-Infused Chicken'"
        [description]="'Indulge in the rich and savory symphony of flavors with our Savory Herb-Infused Chicken'"
        [prepTime]="'40 MIN'" [level]="'Easy prep'" [serves]="'3 SERVES'"></app-recipe-card>
      <app-recipe-card [imageUrl]="'assets/images/demoRecipe.png'" [title]="'Decadent Chocolate Mousse'"
        [description]="'Dive into the velvety indulgence of our Decadent Chocolate Mousse. A dessert that transcends sweetness!'"
        [prepTime]="'30 MIN'" [level]="'Easy prep'" [serves]="'4 SERVES'"></app-recipe-card>
      <app-recipe-card [imageUrl]="'assets/images/demoRecipe.png'" [title]="'Savory Herb-Infused Chicken'"
        [description]="'Indulge in the rich and savory symphony of flavors with our Savory Herb-Infused Chicken'"
        [prepTime]="'40 MIN'" [level]="'Easy prep'" [serves]="'3 SERVES'"></app-recipe-card>
      <app-recipe-card [imageUrl]="'assets/images/demoRecipe.png'" [title]="'Decadent Chocolate Mousse'"
        [description]="'Dive into the velvety indulgence of our Decadent Chocolate Mousse. A dessert that transcends sweetness!'"
        [prepTime]="'30 MIN'" [level]="'Easy prep'" [serves]="'4 SERVES'"></app-recipe-card>
      <app-recipe-card [imageUrl]="'assets/images/demoRecipe.png'" [title]="'Savory Herb-Infused Chicken'"
        [description]="'Indulge in the rich and savory symphony of flavors with our Savory Herb-Infused Chicken'"
        [prepTime]="'40 MIN'" [level]="'Easy prep'" [serves]="'3 SERVES'"></app-recipe-card>
      <app-recipe-card [imageUrl]="'assets/images/demoRecipe.png'" [title]="'Decadent Chocolate Mousse'"
        [description]="'Dive into the velvety indulgence of our Decadent Chocolate Mousse. A dessert that transcends sweetness!'"
        [prepTime]="'30 MIN'" [level]="'Easy prep'" [serves]="'4 SERVES'"></app-recipe-card>
    </div>
    <div class="grid-content" *ngIf="selectedMenu === 'VEGAN'">
      <app-recipe-card [imageUrl]="'assets/images/demoRecipe.png'" [title]="'Decadent Chocolate Mousse'"
        [description]="'Dive into the velvety indulgence of our Decadent Chocolate Mousse. A dessert that transcends sweetness!'"
        [prepTime]="'30 MIN'" [level]="'Easy prep'" [serves]="'4 SERVES'"></app-recipe-card>

      <app-recipe-card [imageUrl]="'assets/images/demoRecipe.png'" [title]="'Decadent Chocolate Mousse'"
        [description]="'Dive into the velvety indulgence of our Decadent Chocolate Mousse. A dessert that transcends sweetness!'"
        [prepTime]="'30 MIN'" [level]="'Easy prep'" [serves]="'4 SERVES'"></app-recipe-card>
    </div>

    <div class="grid-content" *ngIf="selectedMenu === 'BREAKFAST'">

      <app-recipe-card [imageUrl]="'assets/images/demoRecipe.png'" [title]="'Decadent Chocolate Mousse'"
        [description]="'Dive into the velvety indulgence of our Decadent Chocolate Mousse. A dessert that transcends sweetness!'"
        [prepTime]="'30 MIN'" [level]="'Easy prep'" [serves]="'4 SERVES'"></app-recipe-card>

    </div>


    <div class="grid-content" *ngIf="selectedMenu === 'LUNCH'">
      <app-recipe-card [imageUrl]="'assets/images/demoRecipe.png'" [title]="'Decadent Chocolate Mousse'"
        [description]="'Dive into the velvety indulgence of our Decadent Chocolate Mousse. A dessert that transcends sweetness!'"
        [prepTime]="'30 MIN'" [level]="'Easy prep'" [serves]="'4 SERVES'"></app-recipe-card>
      <app-recipe-card [imageUrl]="'assets/images/demoRecipe.png'" [title]="'Decadent Chocolate Mousse'"
        [description]="'Dive into the velvety indulgence of our Decadent Chocolate Mousse. A dessert that transcends sweetness!'"
        [prepTime]="'30 MIN'" [level]="'Easy prep'" [serves]="'4 SERVES'"></app-recipe-card>
    </div>
    <div class="grid-content" *ngIf="selectedMenu === 'DINNER'">
      <app-recipe-card [imageUrl]="'assets/images/demoRecipe.png'" [title]="'Decadent Chocolate Mousse'"
        [description]="'Dive into the velvety indulgence of our Decadent Chocolate Mousse. A dessert that transcends sweetness!'"
        [prepTime]="'30 MIN'" [level]="'Easy prep'" [serves]="'4 SERVES'"></app-recipe-card>
      <app-recipe-card [imageUrl]="'assets/images/demoRecipe.png'" [title]="'Decadent Chocolate Mousse'"
        [description]="'Dive into the velvety indulgence of our Decadent Chocolate Mousse. A dessert that transcends sweetness!'"
        [prepTime]="'30 MIN'" [level]="'Easy prep'" [serves]="'4 SERVES'"></app-recipe-card>
      <app-recipe-card [imageUrl]="'assets/images/demoRecipe.png'" [title]="'Decadent Chocolate Mousse'"
        [description]="'Dive into the velvety indulgence of our Decadent Chocolate Mousse. A dessert that transcends sweetness!'"
        [prepTime]="'30 MIN'" [level]="'Easy prep'" [serves]="'4 SERVES'"></app-recipe-card>
    </div>
    <div class="grid-content" *ngIf="selectedMenu === 'DESSERT'"> <app-recipe-card
        [imageUrl]="'assets/images/demoRecipe.png'" [title]="'Decadent Chocolate Mousse'"
        [description]="'Dive into the velvety indulgence of our Decadent Chocolate Mousse. A dessert that transcends sweetness!'"
        [prepTime]="'30 MIN'" [level]="'Easy prep'" [serves]="'4 SERVES'"></app-recipe-card> </div>
    <div class="grid-content" *ngIf="selectedMenu === 'QUICK BITE'">
      <app-recipe-card [imageUrl]="'assets/images/demoRecipe.png'" [title]="'Decadent Chocolate Mousse'"
        [description]="'Dive into the velvety indulgence of our Decadent Chocolate Mousse. A dessert that transcends sweetness!'"
        [prepTime]="'30 MIN'" [level]="'Easy prep'" [serves]="'4 SERVES'"></app-recipe-card>
      <app-recipe-card [imageUrl]="'assets/images/demoRecipe.png'" [title]="'Decadent Chocolate Mousse'"
        [description]="'Dive into the velvety indulgence of our Decadent Chocolate Mousse. A dessert that transcends sweetness!'"
        [prepTime]="'30 MIN'" [level]="'Easy prep'" [serves]="'4 SERVES'"></app-recipe-card>

    </div>
  </div>

</div>