<div class="HomePage">
  <!-- Hero Section -->
  <div class="HomePageMain">
    <div class="image-container">
      <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@800&display=swap" rel="stylesheet">
      <img src="assets/images/HeroSection.png" alt="Background Image" />
      <h1>UNLEASH CULINARY <br> EXCELLENCE</h1>
      <p>Explore a world of flavors, discover <br> handcrafted recipes, and let the aroma of <br> our passion for
        cooking fill your kitchen</p>
      <button class="overlay-button">EXPLORE RECIPES</button>
    </div>
  </div>

  <!-- Explore Section -->
  <div class="View">
    <div class="see-more">
      <h4>EXPLORE</h4>
      <h1>OUR DIVERSE <br> PALETTE</h1>
      <p>If you are a breakfast enthusiast, a connoisseur of savory delights, or on the lookout for irresistible
        desserts, our curated selection has something to satisfy every palate.</p>
      <button class="seemore-button">SEE MORE</button>
    </div>
    <div class="select">
      <app-select-options [imageUrl]="'assets/images/breakfasticon.png'"
        [description]="'BREAKFAST'"></app-select-options>
      <app-select-options [imageUrl]="'assets/images/lunchicon.png'" [description]="'LUNCH'"></app-select-options>
      <app-select-options [imageUrl]="'assets/images/dinnericon.png'" [description]="'DINNER'"></app-select-options>
      <app-select-options [imageUrl]="'assets/images/desserticon.png'" [description]="'DESSERT'"></app-select-options>
      <app-select-options [imageUrl]="'assets/images/quickbiteicon.png'"
        [description]="'QUICK BITE!'"></app-select-options>
    </div>
  </div>

  <!-- Recipe Carousel -->
  <div class="carousel">
    <h2>FEATURED RECIPES</h2>
    <div class="recipe-cards" *ngIf="RecipesTopView.length > 0">
      <app-recipe-card *ngFor="let recipe of RecipesTopView" [imageUrl]="recipe.imagePath" [title]="recipe.title"
        [description]="recipe.description" [prepTime]="recipe.prepTime" [cookTime]="recipe.cookTime"
        [serves]="recipe.servings" [totalView]="recipe.totalView" [unit1]="'MIN'" [unit2]="'SERVES'"
        [recipeId]="recipe.recipeId" (recipeSelected)="onRecipeSelected($event)"> </app-recipe-card>
    </div>
  </div>

  <!-- Recipe Categories -->
  <div class="select-food">
    <div class="content">
      <h4>RECIPES</h4>
      <h2>EMBARK ON A <br />JOURNEY</h2>
      <p>With our diverse collection of recipes we have something to <br />satisfy every palate.</p>
    </div>
    <div class="menu">
      <ul>
        <li><a (click)="selectedMenu = 'ALL'" [class.active]="selectedMenu === 'ALL'">ALL</a></li>
        <li><a (click)="selectedMenu = 'Vegan'" [class.active]="selectedMenu === 'Vegan'">VEGAN</a></li>
        <li><a (click)="selectedMenu = 'Breakfast'" [class.active]="selectedMenu === 'Breakfast'">BREAKFAST</a></li>
        <li><a (click)="selectedMenu = 'Lunch'" [class.active]="selectedMenu === 'Lunch'">LUNCH</a></li>
        <li><a (click)="selectedMenu = 'Dinner'" [class.active]="selectedMenu === 'Dinner'">DINNER</a></li>
        <li><a (click)="selectedMenu = 'Dessert'" [class.active]="selectedMenu === 'Dessert'">DESSERT</a></li>
        <li><a (click)="selectedMenu = 'QuickBite'" [class.active]="selectedMenu === 'QuickBite'">QUICK BITE!</a></li>
      </ul>
    </div>

    <!-- Recipe Grid -->
    <div class="grid-content" *ngIf="Recipe?.length">
      <div *ngFor="let item of filteredRecipes()">
        <app-recipe-card [imageUrl]="item.imagePath" [title]="item.title" [description]="item.description"
          [cookTime]="item.cookTime" [prepTime]="item.prepTime" [serves]="item.servings" [isVegan]="item.vegan"
          [unit1]="'MIN'" [unit2]="'SERVES'" [recipeId]="item.recipeId" (recipeSelected)="onRecipeSelected($event)">
        </app-recipe-card>
      </div>
    </div>
  </div>
</div>