<div class="register-container">
  <div class="register-left">
    <div class="overlay">
      <div class="content">
        <h2>COOKING RECIPES</h2>
        <p>Formulated with the Best Selected Spices</p>
      </div>
    </div>
    <img src="assets/images/BackgroundLogin.png" alt="Recipe Image">
  </div>

  <div class="register-right">
    <div class="header">
      <h1 class="top-right">COOKING <span class="highlight">RECIPES</span></h1>
      <h4>Welcome to <span class="highlight">COOKING RECIPES</span></h4>
      <div class="button-container">
        <button class="button"
          [ngClass]="{ 'active-login': activeButton === 'login', 'inactive-login': activeButton !== 'login' }"
          (click)="toggleActive('login')">
          Login
        </button>
        <button class="button"
          [ngClass]="{ 'active-register': activeButton === 'register', 'inactive-register': activeButton !== 'register' }"
          (click)="toggleActive('register')">
          Register
        </button>
      </div>

      <p>
        You want to eat <span class="highlight">delicious food?</span> This is
        recipe with the best selected spices.
      </p>
    </div>

    <form (ngSubmit)="onRegister()" #registerForm="ngForm">
      <div class="form-group">
        <label for="email">Email Address</label>
        <input type="text" id="email" name="email" placeholder="Enter your Email Address" [(ngModel)]="email"
          required />
      </div>

      <div class="form-group">
        <label for="username">User name</label>
        <input type="text" id="username" name="username" placeholder="Enter your User name" [(ngModel)]="username"
          required />
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <div class="password-container">
          <input type="password" id="password" name="password" placeholder="Enter your Password" [(ngModel)]="password"
            [type]="passwordVisible ? 'text' : 'password'" required />
          <i class="fa" [ngClass]="passwordVisible ? 'fa-eye-slash' : 'fa-eye'" (click)="togglePasswordVisibility()">
          </i>
        </div>
      </div>


      <div class="options">
        <label><input type="checkbox" (change)="onCheckboxChange($event)" /> Remember me</label>
        <a href="#">Forgot Password?</a>
      </div>

      <button class="register-btn" type="submit" [disabled]="!registerForm.valid">Register</button>
    </form>
  </div>
</div>