<div class="register-container">
  <div class="register-left">
    <div class="overlay">
      <div class="content">
        <h2>COOKING RECIPES</h2>
        <p>{{'AUTH.LOGIN.LOGIN_TITLE'| translate}}</p>
      </div>
    </div>
    <img src="assets/images/BackgroundLogin.png" alt="Recipe Image">
  </div>

  <div class="register-right">
    <div class="header">
      <h1 class="top-right">{{'AUTH.LOGIN.TITLE_NAME_1'| translate}} <span
          class="highlight">{{'AUTH.LOGIN.TITLE_NAME_2'|
          translate}}</span></h1>
      <h4>{{'AUTH.LOGIN.WELCOME_1'| translate}}<span class="highlight">{{'AUTH.LOGIN.WELCOME_2'| translate}}</span></h4>
      <div class="button-container">
        <button class="button"
          [ngClass]="{ 'active-login': activeButton === 'login', 'inactive-login': activeButton !== 'login' }"
          (click)="toggleActive('login')">
          {{'AUTH.LOGIN.LOGIN_BUTTON'| translate}}
        </button>
        <button class="button"
          [ngClass]="{ 'active-register': activeButton === 'register', 'inactive-register': activeButton !== 'register' }"
          (click)="toggleActive('register')">
          {{'AUTH.LOGIN.REGISTER_BUTTON'| translate}}
        </button>
      </div>

      <p>
        {{'AUTH.LOGIN.DESCRIPTION_1'| translate}} <span class="highlight"> {{'AUTH.LOGIN.DESCRIPTION_2'|
          translate}}</span>
        {{'AUTH.LOGIN.DESCRIPTION_3'| translate}}
      </p>
    </div>

    <form (ngSubmit)="onRegister()" #registerForm="ngForm">
      <div class="form-group">
        <label for="email">{{'AUTH.LOGIN.EMAIL_ADDRESS'| translate}}</label>
        <input type="text" id="email" name="email" placeholder="{{'AUTH.LOGIN.ENTER_EMAIL'|translate}}"
          [(ngModel)]="email" required />
      </div>

      <div class="form-group">
        <label for="username">{{'AUTH.LOGIN.USER_NAME'| translate}}</label>
        <input type="text" id="username" name="username" placeholder="{{'AUTH.LOGIN.ENTER_USER_NAME'|translate}}"
          [(ngModel)]="username" required />
      </div>

      <div class="form-group">
        <label for="password">{{'AUTH.LOGIN.PASSWORD'| translate}}</label>
        <div class="password-container">
          <input type="password" id="password" name="password" placeholder="{{'AUTH.LOGIN.ENTER_PASSWORD'|translate}}"
            [(ngModel)]="password" [type]="passwordVisible ? 'text' : 'password'" required />
        </div>
      </div>
      <!-- Nhập mã OTP -->
      <div class="otp-section" *ngIf="otpSent && !emailConfirmed">
        <label for="otp"> {{'AUTH.OTP_EMAIL'| translate}}</label>
        <input type="text" id="otp" [(ngModel)]="otpCode" name="otp" placeholder="OTP" />

        <button type="button" (click)="verifyOtp()"> {{'AUTH.VERIFY_OTP'| translate}}</button>

        <p *ngIf="otpError" class="error">{{ otpError }}</p>
      </div>



      <!-- Hiển thị nút Register nếu đã xác thực OTP -->
      <button class="register-btn" type="button" (click)="onRegisterOtp()" *ngIf="!otpSent">
        {{'AUTH.SEND_OTP'| translate}}
      </button>
      <button class="register-btn" type="submit" (click)="onRegister()" *ngIf="emailConfirmed">
        {{'AUTH.LOGIN.REGISTER_BUTTON'| translate}}</button>
      <div *ngIf="registerError" class="text-danger mt-2">
        {{ registerError }}
      </div>
    </form>
  </div>
</div>