<div class="login-container">
  <!-- Phần bên trái -->
  <div class="login-left">
    <img src="assets/images/BackgroundLogin.png" alt="Recipe Image">
    <div class="overlay"></div>
    <div class="content">
      <h2>COOKING RECIPES</h2>
      <p>{{'AUTH.LOGIN.LOGIN_TITLE'| translate}}</p>
    </div>
  </div>


  <!-- Phần bên phải -->
  <div class="login-right">
    <div class="header">
      <h1>{{'AUTH.LOGIN.TITLE_NAME_1'| translate}} <span class="highlight">{{'AUTH.LOGIN.TITLE_NAME_2'|
          translate}}</span></h1>
      <h4>{{'AUTH.LOGIN.WELCOME_1'| translate}} <span class="highlight"> {{'AUTH.LOGIN.WELCOME_2'| translate}}</span>
      </h4>
      <div class="button-container">
        <button class="button" [ngClass]="{ 'active': activeButton === 'login' }"
          (click)="toggleActive('login')">{{'AUTH.LOGIN.LOGIN_BUTTON'| translate}}</button>
        <button class="button" [ngClass]="{ 'active': activeButton === 'register' }"
          (click)="toggleActive('register')">{{'AUTH.LOGIN.REGISTER_BUTTON'| translate}}</button>
      </div>
      <p>
        {{'AUTH.LOGIN.DESCRIPTION_1'| translate}} <span class="highlight">{{'AUTH.LOGIN.DESCRIPTION_2'|
          translate}}</span>
        {{'AUTH.LOGIN.DESCRIPTION_3'| translate}}
      </p>
    </div>

    <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
      <div class="form-group">
        <label for="username">{{'AUTH.LOGIN.USER_NAME'| translate}}</label>
        <input type="text" id="username" placeholder="Enter your User name" [(ngModel)]="username" name="username" />

      </div>

      <div class="form-group">
        <label for="password">{{'AUTH.LOGIN.PASSWORD'| translate}}</label>
        <input type="password" id="password" placeholder="Enter your Password" />
      </div>

      <div class="options">
        <label>
          <input type="checkbox" [(ngModel)]="rememberMe" />
          {{'AUTH.LOGIN.REMEMBER'| translate}}
        </label>
        <a href="#">{{'AUTH.LOGIN.FORGOT'| translate}}</a>
      </div>
      <button class="login-btn" type="submit">{{'AUTH.LOGIN.LOGIN_BUTTON'| translate}}</button>
    </form>
  </div>
</div>