<div class="login-container">
  <!-- Phần bên trái -->
  <div class="login-left">
    <img src="assets/images/BackgroundLogin.png" alt="Recipe Image">
    <div class="overlay"></div>
    <div class="content">
      <h2>COOKING RECIPES</h2>
      <p>Formulated with the Best Selected Spices</p>
    </div>
  </div>


  <!-- Phần bên phải -->
  <div class="login-right">
    <div class="header">
      <h1>COOKING <span class="highlight">RECIPES</span></h1>
      <h4>Welcome to COOKING<span class="highlight"> RECIPES</span></h4>
      <div class="button-container">
        <button class="button" [ngClass]="{ 'active': activeButton === 'login' }"
          (click)="toggleActive('login')">Login</button>
        <button class="button" [ngClass]="{ 'active': activeButton === 'register' }"
          (click)="toggleActive('register')">Register</button>
      </div>
      <p>
        You want to eat <span class="highlight">delicious food?</span> This is
        recipe with the best selected spices.
      </p>
    </div>

    <form>
      <div class="form-group">
        <label for="username">User name</label>
        <input type="text" id="username" placeholder="Enter your User name" />
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" placeholder="Enter your Password" />
      </div>

      <div class="options">
        <label><input type="checkbox" /> Remember me</label>
        <a href="#">Forgot Password?</a>
      </div>

      <button class="login-btn" type="submit">Login</button>
    </form>
  </div>
</div>