<div class="ingredient-container">
  <h2>Ingredient</h2>
  <table>
    <thead>
      <tr>
        <th>Ingredient Name</th>
        <th>Quantity</th>
        <th>Unit</th>
        <th>Type</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ingredient of ingredients; let i = index">
        <td>
          <select [(ngModel)]="ingredient.ingredientName" (change)="onIngredientChange(ingredient)">
            <option value="">Select Ingredient Name</option>
            <option *ngFor="let item of Ingredient" [value]="item.ingredientName">
              {{ item.ingredientName }}
            </option>
          </select>
        </td>
        <td>
          <input type="number" [(ngModel)]="ingredient.quantity" (ngModelChange)="updateQuantity(i)"
            placeholder="Quantity" />
        </td>
        <td>
          <input type="text" [(ngModel)]="ingredient.unit" placeholder="Unit" readonly />
        </td>
        <td>
          <input type="text" [(ngModel)]="ingredient.type" placeholder="Type" readonly />
        </td>
      </tr>
    </tbody>
  </table>
  <button (click)="addIngredient()">+ Ingredient</button>
</div>