<div class="cookingtip-main">
  <div class="cookingtip-info">
    <h4>{{'COOKING_TIP.COOKING_TIP_TITLE'|translate}}</h4>
    <h3>{{ title }}</h3>
    <div class="cookingtip-detail">
      <img [src]="imageUrl" alt="{{ title }}" class="cookingtip-image" />
      <span>
        <h2> {{'COOKING_TIP.COOKING_TIP_DESCRIPTION'|translate}} </h2>
        <p>{{ description }}</p>


        <h2> {{'COOKING_TIP.COOKING_TIP_CATEGORY'|translate}} </h2>
        <p>{{ category }}</p>

        <h2> {{'COOKING_TIP.COOKING_TIP_DATE_CREATE'|translate}}</h2>
        <span>{{ time }} {{'COOKING_TIP.COOKING_TIP_MINUTES'|translate}} - {{ dateCreated }}</span>

        <h2> {{'COOKING_TIP.COOKING_TIP_CREATED_BY'|translate}}</h2>
        <p>{{ user }}</p>

      </span>
      <button (click)="goBack()">{{'COOKING_TIP.COOKING_TIP_BACK'|translate}}</button>
    </div>
  </div>
</div>