<div class="admin-page">
  <!-- Sidebar -->
  <div class="admin-menu" [ngClass]="{ 'expanded': isExpanded, 'collapsed': !isExpanded }">
    <div class="sidebar-container">
      <button (click)="toggleSidebar()" class="toggle-button">
        <span>{{ isExpanded ? '◀' : '▶' }}</span>
      </button>

      <div class="menu-header">
        <img [src]="logo" alt="Logo" />
        <h1 *ngIf="isExpanded">COOKING RECIPES</h1>
      </div>

      <ul>
        <li *ngFor="let item of menuItems" [ngClass]="{ 'active': item.label === activeItem }"
          (click)="setActive(item.label)">
          <i [class]="item.icon"></i>
          <span *ngIf="isExpanded">{{ item.labelKey | translate }}</span>
        </li>
      </ul>

      <div class="sidebar-footer">
        <img [src]="avatar" alt="Avatar" />
        <div *ngIf="isExpanded" class="user-info">
          <p>{{ 'ADMIN_PAGE.MENU.WELCOME_BACK' | translate }} 👋</p>
          <p>{{email}}</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Main Content -->
  <div class="admin-managerment">
    <h2>{{ 'ADMIN_PAGE.MENU.' + activeItem.toUpperCase() | translate }}</h2>

    <!-- Dashboard -->
    <ng-container *ngIf="activeItem === 'Dashboard'">
      <!-- Dashboard component template -->
      <!-- dashboard.component.html -->
      <div class="dashboard-container">
        <!-- Tổng số công thức, user, công thức mới -->
        <!-- Các stat-box mặc định -->
        <div class="dashboard-card">
          <div class="stat-box">
            <div class="icon-circle">
              <i class="fa fa-fire"></i>
            </div>
            <div class="stat-content">
              <span class="label">{{'ADMIN_PAGE.DASHBOARD.TOTAL_RECIPES'| translate}}</span>
              <h2>{{ report.totalRecipes }}</h2>
            </div>
          </div>

          <div class="divider"></div>

          <div class="stat-box">
            <div class="icon-circle">
              <i class="fa fa-user-check"></i>
            </div>
            <div class="stat-content">
              <span class="label">{{'ADMIN_PAGE.DASHBOARD.TOTAL_USERS'| translate}}</span>
              <h2>{{ report.totalUsers }}</h2>
            </div>
          </div>

          <div class="divider"></div>

          <div class="stat-box">
            <div class="icon-circle">
              <i class="fa fa-desktop"></i>
            </div>
            <div class="stat-content">
              <span class="label">{{'ADMIN_PAGE.DASHBOARD.NEW_RECIPE'| translate}}</span>
              <h2>{{ report.recipeTimeStats.recipesThisWeek }}</h2>
            </div>
          </div>

          <!-- Các category hiển thị riêng như stat-box -->
          <ng-container *ngFor="let cat of report.recipesByCategory">
            <div class="divider"></div>
            <div class="stat-box">
              <div class="icon-circle">
                <!-- Nếu là ảnh -->
                <img *ngIf="iconMap[cat.categoryId]?.includes('assets')" [src]="iconMap[cat.categoryId]" alt="icon"
                  width="30" height="30" />

                <!-- Nếu là FontAwesome icon -->
                <i *ngIf="!iconMap[cat.categoryId]?.includes('assets')" class="fa"
                  [ngClass]="iconMap[cat.categoryId] || 'fa-utensils'"></i>
              </div>
              <div class="stat-content">
                <span class="label"> {{ getLocalizedText() === 'vi' ? cat.categoryNameVI : cat.categoryName}}</span>
                <h2>{{ cat.totalRecipes }}</h2>
              </div>
            </div>
          </ng-container>

        </div>

        <!-- Món ăn có nhiều lượt xem nhất -->
        <!-- Món ăn có nhiều lượt xem nhất -->
        <div class="highlighted-recipe card-section">
          <h3>{{'ADMIN_PAGE.DASHBOARD.TABLES_TOP_VIEWS.TOP_10_VIEWS'| translate}}</h3>

          <div *ngIf="report.mostCommentedRecipe?.length > 0" class="recipe-list-section">
            <table class="recipe-table">
              <thead>
                <tr>
                  <th>{{'ADMIN_PAGE.DASHBOARD.TABLES_TOP_VIEWS.IMAGE'| translate}}</th>
                  <th>{{'ADMIN_PAGE.DASHBOARD.TABLES_TOP_VIEWS.RECIPE_NAME'| translate}}</th>
                  <th>{{'ADMIN_PAGE.DASHBOARD.TABLES_TOP_VIEWS.DATE_CREATED'| translate}}</th>
                  <th>{{'ADMIN_PAGE.DASHBOARD.TABLES_TOP_VIEWS.CATEGORY'| translate}}</th>
                  <th>{{'ADMIN_PAGE.DASHBOARD.TABLES_TOP_VIEWS.VIEWS'| translate}}</th>
                  <th>{{'ADMIN_PAGE.DASHBOARD.TABLES_TOP_VIEWS.STATUS'| translate}}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of report.mostCommentedRecipe">
                  <td><img [src]="item.imagePath" alt="Ảnh" width="80" /></td>
                  <td>{{ getLocalizedText() === 'vi' ? item.titleVI : item.title}}</td>
                  <td>{{ item.dateCreated }}</td>
                  <td>{{ getLocalizedText() === 'vi' ? item.category.categoryNameVI : item.category.categoryName }}</td>
                  <td>{{ item.totalView }}</td>
                  <td> <span class="status" [ngClass]="{
                        'status-approved': item.status === 'Approved',
                        'status-pending': item.status === 'Pending',
                        'status-rejected': item.status === 'Rejected'
                        }">
                      {{ getStatusText(item.status)}}
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>


        <!-- Tổng số công thức theo thời gian -->
        <div class="time-stats card-section">
          <h3>{{'ADMIN_PAGE.DASHBOARD.TABLE_STATISTICS.STATISTICS'| translate}}</h3>

          <table class="time-stats-table">
            <thead>
              <tr>
                <th>{{'ADMIN_PAGE.DASHBOARD.TABLE_STATISTICS.TIME_PRERIOD'| translate}}</th>
                <th>{{'ADMIN_PAGE.DASHBOARD.TABLE_STATISTICS.TOTAL_RECIPES'| translate}}</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{'ADMIN_PAGE.DASHBOARD.TABLE_STATISTICS.DURING_THE_WEEK'| translate}}</td>
                <td>{{ report.recipeTimeStats.recipesThisWeek }}</td>
              </tr>
              <tr>
                <td>{{'ADMIN_PAGE.DASHBOARD.TABLE_STATISTICS.DURING_THE_MONTH'| translate}}</td>
                <td>{{ report.recipeTimeStats.recipesThisMonth }}</td>
              </tr>
              <tr>
                <td>{{'ADMIN_PAGE.DASHBOARD.TABLE_STATISTICS.DURING_THE_YEAR'| translate}}</td>
                <td>{{ report.recipeTimeStats.recipesThisYear }}</td>
              </tr>
            </tbody>
          </table>

          <!-- Danh sách công thức trong tuần -->
          <div *ngIf="report.recipeTimeStats.recipesThisWeekList.length > 0" class="recipe-list-section">
            <h4>{{'ADMIN_PAGE.DASHBOARD.TABLE_STATISTICS.TOTAL_DURING_THE_WEEK'| translate}}</h4>
            <table class="recipe-table">
              <thead>
                <tr>
                  <th>{{'ADMIN_PAGE.DASHBOARD.TABLE_STATISTICS.IMAGE'| translate}}</th>
                  <th>{{'ADMIN_PAGE.DASHBOARD.TABLE_STATISTICS.RECIPE_NAME'| translate}}</th>
                  <th>{{'ADMIN_PAGE.DASHBOARD.TABLE_STATISTICS.DATE_CREATED'| translate}}</th>
                  <th>{{'ADMIN_PAGE.DASHBOARD.TABLE_STATISTICS.CATEGORY'| translate}}</th>
                  <th>{{'ADMIN_PAGE.DASHBOARD.TABLE_STATISTICS.VIEWS'| translate}}</th>
                  <th>{{'ADMIN_PAGE.DASHBOARD.TABLE_STATISTICS.STATUS'| translate}}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of report.recipeTimeStats.recipesThisWeekList">
                  <td><img [src]="item.imagePath" alt="Ảnh" width="80" /></td>
                  <td>{{ getLocalizedText() === 'vi' ? item.titleVI : item.title}}</td>
                  <td>{{ item.dateCreated }}</td>
                  <td>{{ getLocalizedText() === 'vi' ? item.category.categoryNameVI : item.category.categoryName }}</td>
                  <td>{{ item.totalView }}</td>
                  <td> <span class="status" [ngClass]="{
          'status-approved': item.status === 'Approved',
          'status-pending': item.status === 'Pending',
          'status-rejected': item.status === 'Rejected'
        }">
                      {{ getStatusText(item.status)}}
                    </span></td>
                </tr>
              </tbody>
            </table>
          </div>

          <!-- Danh sách công thức trong tháng -->
          <div *ngIf="report.recipeTimeStats.recipesThisMonthList.length > 0" class="recipe-list-section">
            <h4>{{'ADMIN_PAGE.DASHBOARD.TABLE_STATISTICS.TOTAL_DURING_THE_MONTH'| translate}}</h4>
            <table class="recipe-table">
              <thead>
                <tr>
                  <th>{{'ADMIN_PAGE.DASHBOARD.TABLE_STATISTICS.IMAGE'| translate}}</th>
                  <th>{{'ADMIN_PAGE.DASHBOARD.TABLE_STATISTICS.RECIPE_NAME'| translate}}</th>
                  <th>{{'ADMIN_PAGE.DASHBOARD.TABLE_STATISTICS.DATE_CREATED'| translate}}</th>
                  <th>{{'ADMIN_PAGE.DASHBOARD.TABLE_STATISTICS.CATEGORY'| translate}}</th>
                  <th>{{'ADMIN_PAGE.DASHBOARD.TABLE_STATISTICS.VIEWS'| translate}}</th>
                  <th>{{'ADMIN_PAGE.DASHBOARD.TABLE_STATISTICS.STATUS'| translate}}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of report.recipeTimeStats.recipesThisMonthList">
                  <td><img [src]="item.imagePath" alt="Ảnh" width="80" /></td>
                  <td>{{ getLocalizedText() === 'vi' ? item.titleVI : item.title}}</td>
                  <td>{{item.dateCreated }}</td>
                  <td>{{ getLocalizedText() === 'vi' ? item.category.categoryNameVI : item.category.categoryName }}</td>
                  <td>{{ item.totalView }}</td>
                  <td> <span class="status" [ngClass]="{
          'status-approved': item.status === 'Approved',
          'status-pending': item.status === 'Pending',
          'status-rejected': item.status === 'Rejected'
        }">
                      {{ getStatusText(item.status)}}
                    </span></td>
                </tr>
              </tbody>
            </table>
          </div>

          <!-- Danh sách công thức trong năm -->
          <div *ngIf="report.recipeTimeStats.recipesThisYearList.length > 0" class="recipe-list-section">
            <h4>{{'ADMIN_PAGE.DASHBOARD.TABLE_STATISTICS.TOTAL_DURING_THE_YEAR'| translate}}</h4>
            <table class="recipe-table">
              <thead>
                <tr>
                  <th>{{'ADMIN_PAGE.DASHBOARD.TABLE_STATISTICS.IMAGE'| translate}}</th>
                  <th>{{'ADMIN_PAGE.DASHBOARD.TABLE_STATISTICS.RECIPE_NAME'| translate}}</th>
                  <th>{{'ADMIN_PAGE.DASHBOARD.TABLE_STATISTICS.DATE_CREATED'| translate}}</th>
                  <th>{{'ADMIN_PAGE.DASHBOARD.TABLE_STATISTICS.CATEGORY'| translate}}</th>
                  <th>{{'ADMIN_PAGE.DASHBOARD.TABLE_STATISTICS.VIEWS'| translate}}</th>
                  <th>{{'ADMIN_PAGE.DASHBOARD.TABLE_STATISTICS.STATUS'| translate}}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of report.recipeTimeStats.recipesThisYearList">
                  <td><img [src]="item.imagePath" alt="Ảnh" width="80" /></td>
                  <td>{{ getLocalizedText() === 'vi' ? item.titleVI : item.title}}</td>
                  <td>{{ item.dateCreated }}</td>
                  <td>{{ getLocalizedText() === 'vi' ? item.category.categoryNameVI : item.category.categoryName }}</td>
                  <td>{{ item.totalView }}</td>
                  <td> <span class="status" [ngClass]="{
          'status-approved': item.status === 'Approved',
          'status-pending': item.status === 'Pending',
          'status-rejected': item.status === 'Rejected'
        }">
                      {{ getStatusText(item.status)}}
                    </span></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>


      </div>

      <ng-template #loadingTpl>
        <p>Loading report data...</p>
      </ng-template>



    </ng-container>

    <!-- Recipe -->
    <ng-container *ngIf="activeItem === 'Recipe'">
      <div class="controls">
        <input type="text" placeholder="{{ 'ADMIN_PAGE.SEARCH' | translate }}" class="search-input" />
        <div class="sort-dropdown">
          <label>{{ 'ADMIN_PAGE.SORT_BY' | translate }}</label>
          <select [(ngModel)]="selectedStatusFilter" (change)="filterRecipesByStatus()">
            <option value="">{{ 'ADMIN_PAGE.ALL' | translate }}</option>
            <option value="Approved">{{ 'ADMIN_PAGE.APPROVED' | translate }}</option>
            <option value="Pending">{{ 'ADMIN_PAGE.PENDING' | translate }}</option>
            <option value="Rejected">{{ 'ADMIN_PAGE.REJECTED' | translate }}</option>
          </select>
        </div>
      </div>

      <table>
        <thead>
          <tr>
            <th>{{ 'ADMIN_PAGE.RECIPE_NAME' | translate }}</th>
            <th>{{ 'ADMIN_PAGE.CATEGORY' | translate }}</th>
            <th>{{ 'ADMIN_PAGE.USER_CREATED' | translate }}</th>
            <th>{{ 'ADMIN_PAGE.DATE_CREATED' | translate }}</th>
            <th>{{ 'ADMIN_PAGE.DETAILS' | translate }}</th>
            <th>{{ 'ADMIN_PAGE.STATUS' | translate }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let recipe of paginatedRecipe">
            <td> {{ getLocalizedText() === 'vi' ? recipe.titleVI : recipe.title}}</td>
            <td> {{ getLocalizedText() === 'vi' ? recipe.category.categoryNameVI : recipe.category.categoryName}}</td>
            <td>{{ recipe.user.email }}</td>
            <td>{{ recipe.dateCreated }}</td>
            <td>
              <a class="details-btn" [routerLink]="['/recipes', recipe.recipeId]">
                <img [src]="IcSearch" alt="search" />
              </a>
            </td>
            <td>
              <span class="status" [ngClass]="{
          'status-approved': recipe.status === 'Approved',
          'status-pending': recipe.status === 'Pending',
          'status-rejected': recipe.status === 'Rejected'
        }">
                {{getStatusText(recipe.status)}}
              </span>
            </td>
          </tr>
          <tr *ngIf="paginatedRecipe.length === 0">
            <td colspan="6">{{ 'ADMIN_PAGE.NO_RECIPES' | translate }}</td>
          </tr>
        </tbody>
      </table>

      <div class="pagination">
        <button (click)="changePage(currentPage - 1)" [disabled]="currentPage === 1">&lt;</button>
        <button *ngFor="let page of pages" [class.active]="page === currentPage" (click)="changePage(page)">
          {{ page }}
        </button>
        <button (click)="changePage(currentPage + 1)" [disabled]="currentPage === pages.length">&gt;</button>
      </div>
    </ng-container>

    <!-- Comment -->
    <ng-container *ngIf="activeItem === 'Comment'">
      <div class="controls">
        <input type="text" placeholder="{{ 'ADMIN_PAGE.SEARCH' | translate }}" class="search-input" />
        <div class="sort-dropdown">
          <label>{{ 'ADMIN_PAGE.SORT_BY' | translate }}</label>
          <select [(ngModel)]="selectedStatusCommentFilter" (change)="filterCommentsByStatus()">
            <option value="">{{ 'ADMIN_PAGE.ALL' | translate }}</option>
            <option value="Approved">{{ 'ADMIN_PAGE.APPROVED' | translate }}</option>
            <option value="Pending">{{ 'ADMIN_PAGE.PENDING' | translate }}</option>
            <option value="Rejected">{{ 'ADMIN_PAGE.REJECTED' | translate }}</option>
          </select>
        </div>
      </div>
      <table>
        <thead>
          <tr>
            <th>{{ 'ADMIN_PAGE.RECIPE_NAME' | translate }}</th>
            <th>{{ 'ADMIN_PAGE.USER_POSTED' | translate }}</th>
            <th>{{ 'ADMIN_PAGE.MENU.COMMENT' | translate }}</th>
            <th>{{ 'ADMIN_PAGE.RATING' | translate }}</th>
            <th>{{ 'ADMIN_PAGE.DATE_POSTED' | translate }}</th>
            <th>{{ 'ADMIN_PAGE.DETAILS' | translate }}</th>
            <th>{{ 'ADMIN_PAGE.STATUS' | translate }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let comment of paginatedComment">
            <td>
              {{ getLocalizedText() === 'vi' ? comment.recipe.titleVI : comment.recipe.title}}</td>
            <td>{{ comment.user.email }}</td>
            <td>{{ comment.commentText }}</td>
            <td>{{ comment.rating }}</td>
            <td>{{ comment.datePosted }}</td>
            <td><button class="details-btn"><i class="fas fa-search"></i></button></td>
            <td>
              <span class="status" [ngClass]="{
          'status-approved': comment.status === 'Approved',
          'status-pending': comment.status === 'Pending',
          'status-rejected': comment.status === 'Rejected'
        }">
                {{ getStatusText(comment.status)}}
              </span>
            </td>


          </tr>
          <tr *ngIf="paginatedComment.length === 0">
            <td colspan="7">{{ 'ADMIN_PAGE.NO_COMMENTS' | translate }}</td>
          </tr>
        </tbody>
      </table>

      <div class="pagination">
        <button (click)="changePage(currentPage - 1)" [disabled]="currentPage === 1">&lt;</button>
        <button *ngFor="let page of pages" [class.active]="page === currentPage" (click)="changePage(page)">
          {{ page }}
        </button>
        <button (click)="changePage(currentPage + 1)" [disabled]="currentPage === pages.length">&gt;</button>
      </div>
    </ng-container>

    <ng-container *ngIf="activeItem === 'CookingTip'">
      <div class="controls">
        <input type="text" placeholder="{{ 'ADMIN_PAGE.SEARCH' | translate }}" class="search-input" />
        <div class="sort-dropdown">
          <label>{{ 'ADMIN_PAGE.SORT_BY' | translate }}</label>
          <select [(ngModel)]="selectedStatusTipFilter" (change)="filterCookingTipsByStatus()">

            <option value="">{{ 'ADMIN_PAGE.ALL' | translate }}</option>
            <option value="Approved">{{ 'ADMIN_PAGE.APPROVED' | translate }}</option>
            <option value="Pending">{{ 'ADMIN_PAGE.PENDING' | translate }}</option>
            <option value="Rejected">{{ 'ADMIN_PAGE.REJECTED' | translate }}</option>
          </select>
        </div>
      </div>

      <table>
        <thead>
          <tr>
            <th>{{ 'ADMIN_PAGE.TIP_NAME' | translate }}</th>
            <th>{{ 'ADMIN_PAGE.CATEGORY' | translate }}</th>
            <th>{{ 'ADMIN_PAGE.USER_CREATED' | translate }}</th>
            <th>{{ 'ADMIN_PAGE.DATE_CREATED' | translate }}</th>
            <th>{{ 'ADMIN_PAGE.DETAILS' | translate }}</th>
            <th>{{ 'ADMIN_PAGE.STATUS' | translate }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let tip of paginatedTip">
            <td> {{ getLocalizedText() === 'vi' ? tip.titleVI : tip.title}}</td>
            <td> {{ getLocalizedText() === 'vi' ? tip.category.categoryNameVI : tip.category.categoryName}}</td>
            <td>{{ tip.user.email }}</td>
            <td>{{ tip.dateCreated }}</td>
            <td>
              <a class="details-btn" [routerLink]="['/cookingTip', tip.cookingTipId]">
                <img [src]="IcSearch" alt="search" />
              </a>
            </td>
            <td>
              <span class="status" [ngClass]="{
          'status-approved': tip.status === 'Approved',
          'status-pending': tip.status === 'Pending',
          'status-rejected': tip.status === 'Rejected'
        }">
                {{getStatusText(tip.status)}}
              </span>
            </td>
          </tr>
          <tr *ngIf="paginatedTip.length === 0">
            <td colspan="6">{{ 'ADMIN_PAGE.NO_RECIPES' | translate }}</td>
          </tr>
        </tbody>
      </table>

      <div class="pagination">
        <button (click)="changePage(currentPage - 1)" [disabled]="currentPage === 1">&lt;</button>
        <button *ngFor="let page of pages" [class.active]="page === currentPage" (click)="changePage(page)">
          {{ page }}
        </button>
        <button (click)="changePage(currentPage + 1)" [disabled]="currentPage === pages.length">&gt;</button>
      </div>
    </ng-container>

    <ng-container *ngIf="activeItem === 'Report'">
      <label for="yearSelect"> {{'ADMIN_PAGE.REPORT.SELECT_YEAR'| translate}} </label>
      <select id="yearSelect" [(ngModel)]="selectedYear" (change)="onGetReport(selectedYear)">
        <option *ngFor="let year of availableYears" [value]="year">{{ year }}</option>
      </select>

      <div class="chart-wrapper">
        <h4>{{'ADMIN_PAGE.REPORT.USER'| translate}}</h4>
        <canvas #userChart></canvas>

        <h4>{{'ADMIN_PAGE.REPORT.RECIPE'| translate}}</h4>
        <canvas #recipeChart></canvas>

        <h4>{{'ADMIN_PAGE.REPORT.COMMENT'| translate}}</h4>
        <canvas #commentChart></canvas>

        <h4>{{'ADMIN_PAGE.REPORT.COOKING_TIP'| translate}}</h4>
        <canvas #cookingTipChart></canvas>

        <h4>{{'ADMIN_PAGE.REPORT.VISIT'| translate}}</h4>
        <canvas #visitChart></canvas>
      </div>
    </ng-container>


    <ng-container *ngIf="activeItem === 'Setting'">
      <p>HELLO Setting</p>
    </ng-container>
    <ng-container *ngIf="activeItem === 'Support'">
      <p>HELLO Support</p>
    </ng-container>
  </div>
</div>