<div class="wrapper">
  <div class="create-recipe">
    <app-create-save (saveClicked)="saveRecipe()"></app-create-save>
    <app-create-name></app-create-name>
    <app-create-uploadimage></app-create-uploadimage>
    <app-create-description></app-create-description>
    <app-create-ingredient></app-create-ingredient>
    <app-create-cookingtool></app-create-cookingtool>
    <app-create-nutrient></app-create-nutrient>
    <app-create-details></app-create-details>
    <app-create-instruction></app-create-instruction>
    <app-create-recipetip></app-create-recipetip>
  </div>
</div>