.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.create-recipe {
  width: 90%;
  padding: 20px;
  border-radius: 32px;
  border: 0.1vw solid rgb(124, 124, 124);
  display: flex;
  flex-direction: column;
  gap: 30px;
}
