<div class="instruction-container">
  <h2>{{'CREATE_RECIPE.INSTRUCTION.INSTRUCTIONS'| translate}}</h2>
  <table>
    <thead>
      <tr>
        <th>{{'CREATE_RECIPE.INSTRUCTION.TITLE'| translate}}</th>
        <th>{{'CREATE_RECIPE.INSTRUCTION.TITLE_VI'| translate}}</th>
        <th>{{'CREATE_RECIPE.INSTRUCTION.STEP'| translate}}</th>
        <th>{{'CREATE_RECIPE.INSTRUCTION.INSTRUCTION_TEXT'| translate}}</th>
        <th>{{'CREATE_RECIPE.INSTRUCTION.INSTRUCTION_TEXT_VI'| translate}}</th>
        <th>{{'CREATE_RECIPE.INSTRUCTION.COOKING_TOOL'| translate}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let instruction of instructions; let i = index;">
        <td><input type="text" [(ngModel)]="instruction.title" (change)="updateInstruction()"
            placeholder="{{'CREATE_RECIPE.INSTRUCTION.TITLE'| translate}}" /></td>
        <td><input type="text" [(ngModel)]="instruction.titleVI" (change)="updateInstruction()"
            placeholder="{{'CREATE_RECIPE.INSTRUCTION.TITLE_VI'| translate}}" /></td>
        <td><input type="number" [(ngModel)]="instruction.stepNumber" (change)="updateInstruction()"
            placeholder="{{'CREATE_RECIPE.INSTRUCTION.STEP'| translate}}" /></td>
        <td><input type="text" [(ngModel)]="instruction.instructionText" (change)="updateInstruction()"
            placeholder="{{'CREATE_RECIPE.INSTRUCTION.INSTRUCTION_TEXT'| translate}}" /></td>
        <td><input type="text" [(ngModel)]="instruction.instructionTextVI" (change)="updateInstruction()"
            placeholder="{{'CREATE_RECIPE.INSTRUCTION.INSTRUCTION_TEXT_VI'| translate}}" /></td>
        <td>
          <select [(ngModel)]="instruction.cookingToolId" (ngModelChange)="logInstructions()">
            <option value="">{{'CREATE_RECIPE.INSTRUCTION.SELECT_TOOL'| translate}}</option>
            <option *ngFor="let item of Cookingtool" [value]="item.cookingToolId">
              {{ currentLang === 'vi' ? item.cookingToolNameVI : item.cookingToolName }}
            </option>
          </select>
        </td>
      </tr>
    </tbody>
  </table>
  <button (click)="addInstruction()">{{'CREATE_RECIPE.INSTRUCTION.ADD_INSTRUCTION'| translate}}</button>
</div>