<div class="HomePage">

  <!-- Recipe Categories -->
  <div class="select-food">
    <div class="content">
      <h4>{{'FAVORITE.HEADING' | translate}}</h4>
      <h2>{{'FAVORITE.TITLE' | translate}}</h2>
      <p>{{'FAVORITE.DESCRIPTION' | translate}}</p>
    </div>
    <div class="menu">
      <ul>
        <li><a (click)="selectedMenu = 'ALL'" [class.active]="selectedMenu === 'ALL'">{{'FAVORITE.ALL' | translate}}</a>
        </li>
        <li><a (click)="selectedMenu = 'Vegan'" [class.active]="selectedMenu === 'Vegan'">{{'FAVORITE.VEGAN' |
            translate}}</a></li>
        <li><a (click)="selectedMenu = 'Breakfast'" [class.active]="selectedMenu === 'Breakfast'">{{'FAVORITE.BREAKFAST'
            | translate}}</a></li>
        <li><a (click)="selectedMenu = 'Lunch'" [class.active]="selectedMenu === 'Lunch'">{{'FAVORITE.LUNCH' |
            translate}}</a></li>
        <li><a (click)="selectedMenu = 'Dinner'" [class.active]="selectedMenu === 'Dinner'">{{'FAVORITE.DINNER' |
            translate}}</a></li>
        <li><a (click)="selectedMenu = 'Dessert'" [class.active]="selectedMenu === 'Dessert'">{{'FAVORITE.DESSERT' |
            translate}}</a></li>
        <li><a (click)="selectedMenu = 'QuickBite'"
            [class.active]="selectedMenu === 'QuickBite'">{{'FAVORITE.QUICK_BITE' | translate}}</a></li>
      </ul>
    </div>

    <div class="grid-content" *ngIf="FavoritesRecipe?.length">
      <div *ngFor="let item of filteredRecipes()">
        <app-recipe-card [imageUrl]="item.imagePath"
          [title]="currentLang === 'vi' ? item.titleVI || item.title : item.title"
          [description]="currentLang === 'vi' ? item.descriptionVI || item.description : item.description"
          [cookTime]="item.cookTime" [prepTime]="item.prepTime" [serves]="item.servings" [isVegan]="item.vegan"
          [unit1]="'MIN'" [unit2]="'SERVES'" [recipeId]="item.recipeId" [averageRating]="item.averageRating"
          (recipeSelected)="onRecipeSelected($event)">
        </app-recipe-card>
      </div>
    </div>

    <div *ngIf="!FavoritesRecipe?.length">
      <p>No favorite recipes found.</p>
    </div>

  </div>
</div>