<div class="recipe-card">
  <img [src]="imageUrl" alt="{{ title }}" class="recipe-image">
  <div *ngIf="isVegan" class="vegan-badge">
    <img src="assets/images/icVegan1.png" alt="Vegan Symbol">
  </div>
  <div class="recipe-info">
    <h3>{{ title }}</h3>
    <p>{{ description }}</p>
    <div class="recipe-details">
      <span>{{ cookTime }} {{unit1}} - {{ prepTime }} - {{ serves }} {{unit2}} </span>
      <button class="view-recipe-button" (click)="navigateToRecipe()">VIEW RECIPE</button>
    </div>
  </div>
</div>