<div class="recipe-card">
  <img [src]="imageUrl" alt="{{ title }}" class="recipe-image">
  <div *ngIf="isVegan" class="vegan-badge">
    <img src="assets/images/icVegan1.png" alt="Vegan Symbol">
  </div>
  <div class="recipe-info">
    <h3>{{ title }}</h3>
    <p>{{ description }}</p>
    <div class="recipe-details">
      <span>{{ cookTime }} {{unit1}} - {{ prepTime }} - {{ serves }} {{unit2}} </span>
      <div class="star-rating">
        <ng-container *ngFor="let star of fullStars">
          <i class="fas fa-star"></i>
        </ng-container>
        <i *ngIf="hasHalfStar" class="fas fa-star-half-alt"></i>
        <ng-container *ngFor="let star of emptyStars">
          <i class="far fa-star"></i>
        </ng-container>
      </div>
      <button class="view-recipe-button" (click)="onSelectRecipe()">{{'RECIPE_DETAILS.VIEW_RECIPE' |
        translate}}</button>
      <i class="fas fa-edit edit-icon" *ngIf="isOnAboutUsPage && createdByUserId === currentUserId"
        (click)="onEditRecipe($event)" title="Chỉnh sửa công thức"></i>

    </div>
  </div>
</div>