<div class="Tip">
  <div class="title">
    <h1>{{'TIP.TITLE'| translate}}</h1>
    <p>{{'TIP.DESCRIPTION'| translate}}
    </p>
  </div>
  <div class="main-content">
    <app-recipe-title></app-recipe-title>
  </div>
  <div class="newest-recipes">
    <h2>{{'TIP.NEWEST_RECIPES'| translate}}</h2>
    <div class="recipe-cards" *ngIf="NewRecipe.length > 0">
      <app-recipe-card *ngFor="let new of NewRecipe" [imageUrl]="new.imagePath"
        [title]="currentLang === 'vi' ? new.titleVI || new.title : new.title"
        [description]="currentLang === 'vi' ? new.descriptionVI || new.description : new.description"
        [prepTime]="getTranslatedPrepTime(new.prepTime) | translate" [cookTime]="new.cookTime" [serves]="new.servings"
        [totalView]="new.totalView" [averageRating]="new.averageRating" [unit1]="'HOMEPAGE.MIN' | translate"
        [unit2]="'HOMEPAGE.SERVES' | translate" [recipeId]="new.recipeId">
      </app-recipe-card>
    </div>
  </div>
  <div class="select-food">
    <div class="content">
      <h4>{{'COOKING_TIP_DETAILS.TIP_TITLE' | translate}}</h4>
      <h2>{{'TIP.TIPS_TRICK'| translate}}</h2>
      <p>{{'COOKING_TIP_DETAILS.DESCRIPTION' | translate}}</p>
    </div>
    <div class="menu">
      <ul>
        <li><a (click)="selectedMenu = 'ALL'" [class.active]="selectedMenu === 'ALL'">{{'FAVORITE.ALL' | translate}}</a>
        </li>
        <li><a (click)="selectedMenu = 'Meat Tips'"
            [class.active]="selectedMenu === 'Meat Tips'">{{'COOKING_TIP_DETAILS.MEAT' |
            translate}}</a></li>
        <li><a (click)="selectedMenu = 'Vegetable Tips'"
            [class.active]="selectedMenu === 'Vegetable Tips'">{{'COOKING_TIP_DETAILS.VEGETABLE' | translate}}</a></li>
        <li><a (click)="selectedMenu = 'Sauce Tips'"
            [class.active]="selectedMenu === 'Sauce Tips'">{{'COOKING_TIP_DETAILS.SAUCE' | translate}}</a></li>
        <li><a (click)="selectedMenu = 'Pasta Tips'"
            [class.active]="selectedMenu === 'Pasta Tips'">{{'COOKING_TIP_DETAILS.PASTA' | translate}}</a></li>
        <li><a (click)="selectedMenu = 'Dessert Tips'"
            [class.active]="selectedMenu === 'Dessert Tips'">{{'COOKING_TIP_DETAILS.DESSERT' | translate}}</a></li>
        <li><a (click)="selectedMenu = 'Time-Saving Tips'"
            [class.active]="selectedMenu === 'Time-Saving Tips'">{{'COOKING_TIP_DETAILS.TIME' | translate}}</a></li>
        <li><a (click)="selectedMenu = 'Spice Tips'"
            [class.active]="selectedMenu === 'Spice Tips'">{{'COOKING_TIP_DETAILS.SPICE' | translate}}</a></li>
        <li><a (click)="selectedMenu = 'Vegetarian Tips'"
            [class.active]="selectedMenu === 'Vegetarian Tips'">{{'COOKING_TIP_DETAILS.VEGETARIAN' | translate}}</a>
        </li>
        <li><a (click)="selectedMenu = 'Beverage Tips'"
            [class.active]="selectedMenu === 'Beverage Tips'">{{'COOKING_TIP_DETAILS.BEVERAGE' | translate}}</a>
        </li>
      </ul>
      <div class="tips">
        <div class="grid-content" *ngIf="Tip?.length">
          <div *ngFor="let item of filteredRecipes()">
            <app-recipe-tips [imageUrl]="item.imagePath"
              [title]="currentLang === 'vi' ? item.titleVI || item.title : item.title"
              [description]="currentLang === 'vi' ? item.descriptionVI || item.description : item.description"
              [time]="item.time" [unit]="'HOMEPAGE.MIN' | translate" [date]="item.dateCreated"
              [cookingTipId]="item.cookingTipId"></app-recipe-tips>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>