.recipe-tip {
  width: 100%;
  text-align: left;
}

h3 {
  color: #262522;
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
}

.do-tips, .dont-tips {
  margin-top: 20px;
}

h4 {
  color: #EE6352;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
}

li {
  line-height: 1.6;
  list-style-type: none;
  color: #262522;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 30px;
}

strong {
  color: #262522;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  display: block;
}

div {
  font-size: 16px;
  color: #262522;
  font-family: 'Roboto', sans-serif;
}
