<div class="Recipe-title">
  <div class="item">
    <img src="assets/images/icKnifee.png" alt="knife">
    <div class="text">
      <strong>
        <!-- {{title1}} -->{{'TIP.QUANTITY_TOOL'| translate}}
      </strong>
      <p>
        <!-- {{description1}} -->{{'TIP.QUANTITY_TOOL_DESCRIPTION'| translate}}
      </p>
    </div>

  </div>
  <div class="item">
    <img src="assets/images/icKep.png" alt="Kep">
    <div class="text">
      <strong>
        <!-- {{title2}} -->{{'TIP.ESSENTIAL_UTENSILS'| translate}}
      </strong>
      <p>
        <!-- {{description2}} -->{{'TIP.ESSENTIAL_UTENSILS_DESCRIPTION'| translate}}
      </p>
    </div>

  </div>
  <div class="item">
    <img src="assets/images/IcCan.png" alt="can">
    <div class="text">
      <strong>
        <!-- {{title3}} -->{{'TIP.MEASURING_ACCURACY'| translate}}
      </strong>
      <p>
        <!-- {{description3}} -->{{'TIP.MEASURING_ACCURACY_DESCRIPTION'| translate}}
      </p>
    </div>

  </div>
</div>