<div class="Recipe-title">
  <div class="item">
    <img src="assets/images/icKnifee.png" alt="knife">
    <div class="text">
      <strong>
        <!-- {{title1}} -->Quality Tools
      </strong>
      <p>
        <!-- {{description1}} -->Invest in high-quality knives, cutting boards, and cookware.
      </p>
    </div>

  </div>
  <div class="item">
    <img src="assets/images/icKep.png" alt="Kep">
    <div class="text">
      <strong>
        <!-- {{title2}} -->Essential Utensils
      </strong>
      <p>
        <!-- {{description2}} -->Have a variety of utensils, including spatulas, tongs, and ladles.
      </p>
    </div>

  </div>
  <div class="item">
    <img src="assets/images/IcCan.png" alt="can">
    <div class="text">
      <strong>
        <!-- {{title3}} -->Measuring Accuracy
      </strong>
      <p>
        <!-- {{description3}} -->Use measuring cups and spoons for precise ingredient quantities.
      </p>
    </div>

  </div>
</div>
