<div class="CookingTip">
  <div class="Details">
    <ng-container *ngIf="!notFound; else notFoundTemplate">
      <app-cooking-tip [imageUrl]="cookingTip.imagePath"
        [title]="currentLang === 'vi' ? cookingTip.titleVI || cookingTip.title : cookingTip.title"
        [description]="currentLang === 'vi' ? cookingTip.descriptionVI || cookingTip.description : cookingTip.description"
        [category]="currentLang === 'vi' ? cookingTip.category.categoryNameVI || cookingTip.category.categoryName : cookingTip.category.categoryName"
        [time]="cookingTip.time" [dateCreated]="cookingTip.dateCreated"
        [user]="cookingTip.user.email"></app-cooking-tip>
    </ng-container>
  </div>

  <div class="Check">
    <ng-container *ngIf="(cookingTip.status === 'Pending' || cookingTip.status === 'Rejected') && isAdmin && fromAdmin">
      <button (click)="checkCookingTip(cookingTip.cookingTipId, cookingTip, true)" class="btn btn-success">
        {{ 'RECIPE_DETAILS.APPROVE' | translate }}
      </button>
      <button (click)="checkCookingTip(cookingTip.cookingTipId, cookingTip, false)" class="btn btn-danger">
        {{ 'RECIPE_DETAILS.REJECT' | translate }}
      </button>
      <button (click)="removeCookingTip(cookingTip.cookingTipId)" class="btn btn-danger">
        {{ 'RECIPE_DETAILS.REMOVE' | translate }}
      </button>
    </ng-container>

    <ng-container *ngIf="cookingTip.status === 'Approved' && isAdmin && fromAdmin">
      <button (click)="checkCookingTip(cookingTip.cookingTipId, cookingTip, false)" class="btn btn-danger">
        {{ 'RECIPE_DETAILS.REJECT' | translate }}
      </button>
      <button (click)="removeCookingTip(cookingTip.cookingTipId)" class="btn btn-danger">
        {{ 'RECIPE_DETAILS.REMOVE' | translate }}
      </button>
    </ng-container>

  </div>
</div>

<ng-template #notFoundTemplate>
  <app-not-found-page></app-not-found-page>
</ng-template>