<div class="name-container">
  <h2>{{ ('CREATE_RECIPE.' + (titleName === 'Title' ? 'RECIPE_TITLEEN' : 'RECIPE_TITLEVI')) | translate }}</h2>
  <table>
    <tbody>
      <tr *ngFor="let name of names; let i = index">
        <td>
          <input type="text" [(ngModel)]="title" (ngModelChange)="onTitleChange($event)"
            [placeholder]="titleName === 'Title' ? ('CREATE_RECIPE.RECIPE_TITLEEN' | translate) : ('CREATE_RECIPE.RECIPE_TITLEVI' | translate)" />

          <button (click)="goBack()">{{'CREATE_RECIPE.BACK'| translate}}</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>