<div class="cookingtool-container">
  <h2>Cooking Tool</h2>
  <table>
    <tbody>
      <tr *ngFor="let cookingtool of cookingtools; let i = index">
        <td>
          <select [(ngModel)]="cookingtool.cookingToolId" (ngModelChange)="updateTool()">
            <option value="">Select Cooking Tool Name</option>
            <option *ngFor="let item of Cookingtool" [value]="item.cookingToolId">
              {{ item.cookingToolName }}
            </option>
          </select>
        </td>
      </tr>
    </tbody>
  </table>
  <button (click)="addCookingTool()">+ Cooking tool</button>
</div>